h1{

}
body
{
  background: url(imagenes/fondo.jpg);
}

#candado
{
  border: 500px;
}
#titulo
{
  font-size: 60px;
  color:black;
  text-align: center;
}
#mensaje{
   color: yellow;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}
#encode {
  font-family: fantasy;
  margin-left: 200px;

}
