body
{
  background: url(imagenes/fondo.jpg);
}
#titulo
{
  font-family: Harry Potter;
  font-size: 60px;
  color:black;
  text-align: center;
}
#cuerpo
{
padding-top: 60px;
}
#mensaje
{
  font-family: Harry Potter;
  font-size: 30px;
  text-align: center;
  margin-top: -100px;

}
#candado
{
  font-family: Harry Potter;
  width:70px;height:30px;
  font-size: 19px;
  margin-right: 130px;
}
#clave
{
font-family: Harry Potter;
font-size: 20px;
}
#textoOriginal
{
  max-width:500px;
  min-width:500px;
  max-height:200px;
  min-height:200px;
  font-size: 20px;
}
#solucion
{
  background:#dbd4d4;
  max-width:500px;
  min-width:500px;
  max-height:200px;
  min-height:200px;
  font-size: 20px;
}
#encode
{  
  font-family: Harry Potter;
  margin-right:103px;
  margin-left: 200px;
  font-size: 25px;
  color:white;
}
#decode
{
  font-family: Harry Potter;
  margin-right: 250px;
  margin-left: -100px;
  font-size: 25px;
}
#ayuda
{
margin-left: 1250px;
margin-top: 90px;
}
@font-face {
  font-family: Harry Potter;
  src: url(../fuentes/harrypotter.TTF);
}
